<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="NuGet official package source" value="https://nuget.org/api/v2/" />
    <add key="My MyGet" value="https://www.myget.org/F/fjch1997/api/v3/index.json" />
  </packageSources>
</configuration>